.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.title {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  font-size: 2rem;
  color: #403937;
  margin-bottom: 3.375rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 2.5rem 2rem;
}
